<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
            <div class="d-flex flex-row mt-3 mb-4" style="">
                <a style="max-height: 34px;" class="btn btn-secondary mr-5" role="button" href="/admin/book"><i class="fas fa-arrow-left mr-1"></i>quay lại</a>
                <h3>Thên thông tin thể loại sách!!</h3>
            </div>
                <form class="row" method="POST" action="/admin/genre/createGenreData">
                    <div class="form-group col-md-12">
                        <label class="control-label">Tên thể loại: </label>
                        <input class="form-control" name="genreName" value="{{genre.genreName}}" type="text">
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Mô tả về thể loại: </label>
                        <input class="form-control" name="description" value="{{genre.description}}" rows="5"  type="text" required>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-secondary mt-2 col-sm-1">Lưu lại</button>
                    </div>
               </form>
            </div>
        </div>  
          {{!-- <a class="btn btn-danger" href="/doc/table-data-table.html">Hủy bỏ</a> --}}
     </div>

</div>