<div>
      <div class="col-md-12 mt-4">
        <div class="app-title">
          <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a href="#"><b>Bảng điều khiển</b></a></li>
          </ul>
          <div id="clock"></div>
        </div>
      </div>
      <h2 class="d-flex justify-content-center">Trang quản lý ứng dụng BookStoreee</h2>
      <div class="column" style="display: flex; justify-content: space-around;">
        <img src="https://cdn-icons-png.flaticon.com/512/3468/3468210.png" style="min-width: 120px; min-height: 120px; max-width: 120px; max-height: 120px;" alt="Err??">
        <img src="https://cdn-icons-png.flaticon.com/512/3468/3468306.png" style="min-width: 120px; min-height: 120px; max-width: 120px; max-height: 120px;" alt="Err??">
        <img src="https://cdn-icons-png.flaticon.com/512/3468/3468331.png" style="min-width: 120px; min-height: 120px; max-width: 120px; max-height: 120px;" alt="Err??">
        <img src="https://cdn-icons-png.flaticon.com/512/3468/3468324.png" style="min-width: 120px; min-height: 120px; max-width: 120px; max-height: 120px;" alt="Err??">
        <img src="https://cdn-icons-png.flaticon.com/512/3468/3468447.png" style="min-width: 120px; min-height: 120px; max-width: 120px; max-height: 120px;" alt="Err??">
        <img src="https://cdn-icons-png.flaticon.com/512/3468/3468106.png" style="min-width: 120px; min-height: 120px; max-width: 120px; max-height: 120px;" alt="Err??">
        
      </div>
    </div>